<% provide(:title, 'Terms & Conditions')%>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix genricContent">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>特定商取引法に関する表記</h3>
       <table class="tablepress">
        <tbody class="row-hover">
        <tr class="row-1 odd">
          <td class="column-1">販売業者名</td>
          <td class="column-2">○○株式会社</td>
        </tr>
        <tr class="row-2 even">
          <td class="column-1">代表責任者名</td>
          <td class="column-2">甲野太郎</td>
        </tr>
        <tr class="row-3 odd">
          <td class="column-1">所在地</td>
          <td class="column-2">〒○○○―○○○○<br>
            東京都○○区○○　○丁目○番○号
          </td>
        </tr>
        <tr class="row-4 even">
          <td class="column-1">電話番号</td>
          <td class="column-2">０３－○○○○―○○○○</td>
        </tr>
        <tr class="row-5 odd">
          <td class="column-1">電話受付時間</td>
          <td class="column-2">９：００～１８：００</td>
        </tr>
        <tr class="row-6 even">
          <td class="column-1">メールアドレス</td>
          <td class="column-2">******@*****.co.jp</td>
        </tr>
        <tr class="row-7 odd">
          <td class="column-1">ホームページURL</td>
          <td class="column-2">http://www.*******.co.jp</td>
        </tr>
        <tr class="row-8 even">
          <td class="column-1">販売価格</td>
          <td class="column-2">各商品ページをご参照ください。</td>
        </tr>
        <tr class="row-9 odd">
          <td class="column-1">商品代金以外の必要料金</td>
          <td class="column-2">消費税<br>
            送料（全国一律６３０円。商品５，０００円以上の購入で送料無料。）<br>
            振込の場合、振込手数料、コンビニ決済の場合、コンビニ決済手数料
          </td>
        </tr>
        <tr class="row-10 even">
          <td class="column-1">お届け時期</td>
          <td class="column-2">入金確認後、直ちに商品を発送いたします。</td>
        </tr>
        <tr class="row-11 odd">
          <td class="column-1">お支払方法</td>
          <td class="column-2">銀行振込、クレジットカード、コンビニ決済</td>
        </tr>
        <tr class="row-12 even">
          <td class="column-1">お申込みの有効期限</td>
          <td class="column-2">７日以内にお願いいたします。<br>
            ７日間入金がない場合は、キャンセルとさせていただきます。
          </td>
        </tr>
        <tr class="row-13 odd">
          <td class="column-1">返品・交換・キャンセル等</td>
          <td class="column-2">商品発送後の返品・返却等はお受けいたしかねます。<br>
            商品が不良の場合のみ交換いたします。キャンセルは注文後２４時間以内に限り受付いたします。<br>
            コンビニ決済を利用された場合、コンビニ店頭での返金はいたしません。
          </td>
        </tr>
        <tr class="row-14 even">
          <td class="column-1">返品期限</td>
          <td class="column-2">商品出荷より７日以内にご連絡下さい。</td>
        </tr>
        <tr class="row-15 odd">
          <td class="column-1">返品送料</td>
          <td class="column-2">不良品の場合は弊社が負担いたします。<br>
          それ以外はお客様のご負担となります。
          </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
