<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% size_list.each do |size| %>
        <li>
          <%= link_to potepan_categories_path(option_name: "#{size.name}") do %>
          <%= size.name %><span><%= "(#{size.variants.count})" %></span>
          <% end %>
        </li>
      <% end %>
      <!-- <li><a href="#">S<span>(15)</span></a></li>
      <li><a href="#">M<span>(10)</span></a></li>
      <li><a href="#">L<span>(7)</span></a></li>
      <li><a href="#">XL<span>(12)</span></a></li> -->
    </ul>
  </div>
</div>
