<div class="row filterArea">
  <div class="col-xs-6">
    <select name="guiest_id1" id="guiest_id1" class="select-drop">
      <option value="0">並び替え</option>
      <option value="1">人気順</option>
      <option value="2">安い順</option>
      <option value="3">新着順</option>
      <option value="3">高い順</option>
    </select>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <%= link_to potepan_category_url(@taxon.id, type: "grid") do %>
        <button type="button" class="<%= @display == "grid" ? "btn btn-default active" : "btn btn-default" %>">
        <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
      <% end %>
      <%= link_to potepan_category_url(@taxon.id, type: "list") do %>
        <button type="button" class="<%= @display == "list" ? "btn btn-default active" : "btn btn-default" %>">
        <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
      <% end %>
    </div>
  </div>
</div>
