<%= render partial: 'filter_taxon', locals: {taxonomies: @taxonomies}%>
<%= render partial: 'filter_price'%>
<%= render partial: 'filter_color', locals: { color_list: @color_list} %>
<%= render partial: 'filter_size', locals:  {size_list: @size_list }%>
