<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'shared/select_menubar' %>
        <div class="row">
          <% if @display == 'grid' %>
            <%= render partial: "grid", collection: @products, as: 'product' %>
          <% else %>
            <%= render partial: "list", collection: @products, as: 'product' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'light_bottom' %>
