<%= link_to potepan_category_url(id: @taxon.id, display: "grid", option_name: params[:option_name]) do %>
<button type="button" class="<%= @display == "grid" ? "btn btn-default active" : "btn btn-default" %>">
  <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
<% end %>
<%= link_to potepan_category_url(id: @taxon.id, display: "list", option_name: params[:option_name]) do %>
<button type="button" class="<%= @display == "list" ? "btn btn-default active" : "btn btn-default" %>">
  <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
<% end %>
