<div class="row filterArea">
  <div class="col-xs-6">
    <%if params[:option_name]%>
      <%= form_tag(potepan_categories_path(params[:id]), method: :get) do %>
        <%= select_tag 'order', options_for_select(['並び替え','新着順',
          '安い順','高い順', '古い順'],
           selected: params[:order] || '新着順'), { class: "select-drop", onChange: "this.form.submit()" } %>
           <%= hidden_field_tag :option_name, params[:option_name] %>
           <%= hidden_field_tag :display, @display %>
      <% end %>
    <%else%>
      <%= form_tag(potepan_category_path(params[:id]), method: :get) do %>
        <%= select_tag 'order', options_for_select(['並び替え','新着順',
          '安い順','高い順', '古い順'],
           selected: params[:order] || '新着順'), { class: "select-drop", onChange: "this.form.submit()" } %>
           <%= hidden_field_tag :display, @display %>
      <% end %>
    <%end%>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <% if @taxon %>
        <%= render 'shared/categories_menubar' %>
      <% else %>
        <%= render 'shared/products_menubar'%>
      <% end %>
    </div>
  </div>
</div>
