<% provide(:title,'') %>

<%= render partial: 'banner.html.erb' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render partial: 'popular_categories.html.erb' %>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <%= render partial: 'new_products.html.erb', collection: @new_products, as: 'new_product' %>
        </div>
      </div>
    </div>
    <%= render partial: 'useful_articles.html.erb' %>
  </div>
</section>
<%= render partial: 'light_bottom.html.erb' %>
