<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'shared/header'%>
      <%= render 'shared/light_top'%>
      <%= yield %>
      <%= render 'shared/footer'%>
    </div>
    <%= render 'shared/modal'%>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
